/*///////////////////////////
// Render to full window size
///////////////////////////*/
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/*///////////////////////////
// Canvas container styles
///////////////////////////*/
#canvas-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  padding: 20px 10px 10px; /* Increased top padding for buttons */
}

/*///////////////////////////
// Canvas styles for different configurations
///////////////////////////*/
canvas {
  border: 2px solid black;
  margin: 5px;
}

/* Single canvas */
.canvas-count-1 canvas {
  width: calc(100% - 14px);
  height: calc(100% - 14px);
}

/* Two canvases */
.canvas-count-2 canvas {
  width: calc(100% - 14px);
  height: calc(50% - 17px); /* Adjusted for extra top padding */
}

/* Four canvases */
.canvas-count-4 canvas {
  width: calc(50% - 14px);
  height: calc(50% - 17px); /* Adjusted for extra top padding */
}

/*///////////////////////////
// Customize Stats Showing FPS
///////////////////////////*/
.stats-panel {
  position: fixed !important;
  top: unset !important;
  bottom: 10px !important;
  left: 0px !important;
  z-index: 1000 !important;
  cursor: pointer;
  width: 100px;
  height: 60px;
  overflow: hidden;
}

/*///////////////////////////
// Button styles
///////////////////////////*/
#buttons {
  position: absolute;
  top: 0px; /* Position at the top of the white gap */
  left: 50%;
  transform: translateX(-50%);
  z-index: 1001;
  background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent background */
  padding: 2px 2px;
  border-radius: 10px;
}

#buttons button {
  margin: 0 2px;
  padding: 2px 5px;
  font-size: 12px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
}

#buttons button:hover {
  background-color: #e0e0e0;
}
